html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fdfcdc;
  color: #00afb9;
}
h1 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 2rem;
  padding: 0 3rem;
}

#map {
  height: 70vh;
  width: 90vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #ff006e;
}
